

<!-- Page level plugin CSS-->
<div *ngIf="info.token; else loggedOut "xmlns="http://www.w3.org/1999/html">
  <div class="card-default">
    <div class="mat-card-header">
      <i class="mdi mdi-message-bulleted"></i>
      <span style="float: right" > <button (click)="openVerticallyCentered(content)" class=" btn btn-circle btn-lg btn-success"><i class="mdi mdi-plus"></i></button></span>
      User</div>
    <div class="card-body">
      <div class="">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Login </th>
              <td mat-cell *matCellDef="let row"> {{row.username}} </td>

            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
              <td mat-cell *matCellDef="let row"> {{row.roles[0].name}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
              <td  mat-cell *matCellDef="let row">
               <mat-icon class="fa fa-trash-o fa-2x supp" (click)="openVerticallydelete(contentdelete,row.id)"  aria-label="Delete">

                </mat-icon>


              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">

            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          <button type="submit" (click)="Imprimer()" class="btn btn-primary">Imprimer</button>
          <button class=" btn btn-info btn-sm" (click)="openVerticallyCenteredRole(contentRole)"> <mat-icon class="fa fa-eye fa-2x"  ></mat-icon> <span class="d-none d-md-inline">View</span> </button>

        </div>

      </div>
    </div>
  </div>



  <div class="col-md-12">
    <ng-template #content >

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <h4 class="m-b-0 titre">Ajouter un utilisateur</h4>
            <button type="button" class="close" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate>
              <div *ngIf="f.submitted && f.valid"  >
                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
                </div>
              </div>

              <div class="form-group">
                <label for="name">Your name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
                <div *ngIf="f.submitted && name.invalid">
                  <div *ngIf="name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                       required />
                <div *ngIf="f.submitted && username.invalid">
                  <div *ngIf="username.errors.required">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
                <div *ngIf="f.submitted && email.invalid">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                       required minlength="6" />
                <div *ngIf="f.submitted && password.invalid">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>

              <button type="submit"  class="btn btn-primary" style="float:right;" [disabled]="f.form.pristine || f.form.invalid" >{{'agent.button' | translate }}</button>
              <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                Signup failed!<br/>{{errorMessage}}
              </div>
              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c()">Annuler</button>
            </form>
          </div>
        </div>

      </div>

    </ng-template>
  </div>


  <!-- modal affecter role-->
  <div class="col-md-12">
    <ng-template #contentRole let-c="close" let-d="dismiss">

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <h4 class="m-b-0 titre">{{'agent.modifier' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form #f="ngForm" >
              <mat-form-field>
                <mat-label> selectioner un role</mat-label>
                <mat-select [(value)]="selected"  >

                  <mat-option *ngFor="let a of listRole"  value="{{a.id}}">{{a.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <button type="submit" style="float:right;"(click)="affecterRole()" class="btn btn-primary">{{'agent.button' | translate }}</button>

              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c('Close click')">{{'agent.bt' | translate }}</button>

            </form>
          </div>
        </div>

      </div>
    </ng-template>
  </div>
  <!-- modal delte-->
  <div class="col-md-12">
    <ng-template #contentdelete let-d="dismiss" class="modal-dialog modal-sm">

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div >
            <h4 >Etes vous sûr de vouloir supprimer?</h4>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <form name="form" #f="ngForm">
          <button type="submit" (click)="deleteUser()" class="btn btn-danger">Supprimer</button>
        </form>
        <button type="button" class="btn btn-light" (click)="c()">Annuler</button>
      </div>
    </ng-template>
  </div>


</div>
