<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav mr-auto float-left">
  <li (click)="toggleSidebar.emit()" class="nav-item "> <a class="nav-link sidebartoggler text-muted waves-effect waves-dark test" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
<li> <div class="navbar-header">
  <a class="navbar-brand" href="index.html">
    <!-- Logo icon --><b>
    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
    <!-- Dark Logo icon -->
    <img src="assets/images/iset_logo.png" alt="homepage" class="dark-logo" />

    <!-- Light Logo icon -->

  </b>
    <span>

                        <img src="assets/images/header_logo.png" alt="homepage" class="dark-logo" />

                  </span>
    <!--End Logo icon -->
    <!-- Logo text --> </a>
</div></li>
</ul>
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<style>
  div.dropdown-menu.animated.slideInDown.show{
    top: 56px !important; left: -218px !important;
  }
</style>
<ul class="navbar-nav my-lg-0 float-right">


  <!-- ============================================================== -->
  <!-- Profile -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
    <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
    <div class="dropdown-menu animated slideInDown" ngbDropdownMenu>
      <ul class="dropdown-user">
        <li>
          <div class="dw-user-box">
            <div class="u-img"><img src="assets/images/users/1.jpg" alt="user"></div>
            <div class="u-text">
              <h4>Steave Jobs</h4>
              <p class="text-muted">varun@gmail.com</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
          </div>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
        <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
        <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
        <li role="separator" class="divider"></li>
        <li ><a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
      </ul>
    </div>
  </li>
</ul>
