

<!-- Page level plugin CSS-->
<div *ngIf="info.token; else loggedOut "xmlns="http://www.w3.org/1999/html">
  <div class="card-default">
    <div class="mat-card-header">
      <mat-icon>local_library</mat-icon>
      <span style="float: right" > <button (click)="openVerticallyCentered(content)"class=" btn btn-circle btn-lg btn btn-success"><i class="mdi mdi-plus"></i></button></span>
      {{'enseignant.ens' | translate }} </div>
    <div class="card-body">
      <div class="">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'agent.filter' | translate }} ">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- Nom Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'user.nomuser' | translate }}  </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'user.loginuser' | translate }}  </th>
              <td mat-cell *matCellDef="let row"> {{row.username}} </td>
            </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'user.mailuser' | translate }}  </th>
              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'user.teluser' | translate }}  </th>
              <td mat-cell *matCellDef="let row"> {{row.tel}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="actions" >
              <th mat-header-cell *matHeaderCellDef >{{'agent.actions' | translate }}  </th>

              <td  mat-cell *matCellDef="let row">
                <mat-icon class=" supp" (click)="openVerticallydelete(contentdelete,row.id)"  aria-label="Delete">
                  delete_forever </mat-icon>
                <mat-icon class=" edit" (click)="openVerticallyCenteredEdit(contentEdit,row.id)" >edit</mat-icon>
                <mat-icon class=" edit" (click)="openVerticallyCenteredMenu(contentMenu,row.id)" >menu</mat-icon>
              </td>

            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          <button style="visibility: hidden"><mat-icon class="print"(click)="Imprimer()"  >print</mat-icon></button>
          <mat-icon class="print"(click)="Imprimer()"  >print</mat-icon>



        </div>

      </div>
    </div>
  </div>













<!-- demande -->
  <div class="col-md-12">
    <ng-template #contentMenu >

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <h4 class="m-b-0 titre">{{'demande.list' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourcedemande" matSort>

                  <!-- ID Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'enseignement.dateens' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.dateAjout|date:"MMM dd yyyy H:m:s"}} </td>
                  </ng-container>


                  <ng-container matColumnDef="file">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'demande.file' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.file}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nbgrp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'tirage.nbrcopie' | translate }}</th>
                    <td mat-cell *matCellDef="let row"> {{row.nb_copie}} </td>
                  </ng-container>
                                   <tr mat-header-row *matHeaderRowDef="displayedColumnsdemande"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsdemande;">
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                <button style="visibility: hidden"><mat-icon class="print"(click)="Imprimer()"  >print</mat-icon></button>
                <mat-icon class="print"(click)="Imprimer()"  >print</mat-icon>



              </div>
            </form>
          </div>
        </div>

      </div>

    </ng-template>
  </div>


  <div class="col-md-12">
    <ng-template #content >

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <h4 class="m-b-0 titre">{{'enseignant.addens' | translate }} </h4>
            <button type="button" class="close" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate>
              <div *ngIf="telnumber==true">
                <alert class="danger" >numéro de télèphone doit être numérique</alert>
              </div>

              <div class="form-group">
                <label for="name">{{'user.nomuser' | translate }}</label>
                <input type="text" class="form-control" name="{{'user.nomuser' | translate }}" [(ngModel)]="form.name" #name="ngModel" required />
                <div *ngIf="f.submitted && name.invalid">
                  <div *ngIf="name.errors.required">{{'user.nom' | translate }}</div>
                </div>
              </div>
              <div class="form-group">
                <label for="username">{{'user.loginuser' | translate }}</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                       required />
                <div *ngIf="f.submitted && username.invalid">
                  <div *ngIf="username.errors.required">{{'user.username' | translate }}</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">{{'user.mailuser' | translate }}</label>
                <input type="text" class="form-control" name="{{'user.mailuser' | translate }}" [(ngModel)]="form.email" #email="ngModel" required email />
                <div *ngIf="f.submitted && email.invalid">
                  <div *ngIf="email.errors.required">{{'user.mail' | translate }}</div>
                  <div *ngIf="email.errors.email">{{'user.mailerror' | translate }}</div>
                </div>
              </div>

              <div class="form-group">
                <label for="telephone">{{'user.teluser' | translate }}</label>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="8"  class="form-control" name="tel" [(ngModel)]="form.tel" #tel="ngModel"
                       required minlength="8" />
                <div *ngIf="f.submitted && tel.invalid">
                  <div *ngIf="tel.errors.required">{{'user.tel' | translate }}</div>
                  <div *ngIf="tel.errors.minlength">{{'user.telerror' | translate }}</div>
                </div>
              </div>
              <button type="submit"  class="btn btn-primary" style="float:right;" [disabled]="f.form.pristine || f.form.invalid" >{{'button.btnenr' | translate }}</button>
              <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                {{'user.failed' | translate }}<br/>{{errorMessage}}
              </div>
              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c()">{{'button.btnfermer' | translate }}</button>
            </form>
          </div>
        </div>

      </div>

    </ng-template>
  </div>
  <!-- Edit Modal-->
  <div class="col-md-12">
    <ng-template #contentEdit >

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <h4 class="m-b-0 titre">{{'enseignant.modens' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form #f="ngForm" >

              <mat-form-field class="example-full-width">
                <mat-label>{{'user.nomuser' | translate }}</mat-label>
                <input matInput [(ngModel)]="enseignant.name" name="{{'user.nomuser' | translate }}" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>{{'user.loginuser' | translate }}</mat-label>
                <input matInput [(ngModel)]="enseignant.username" name="{{'user.loginuser' | translate }}" >
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>{{'user.mailuser' | translate }}</mat-label>
                <input matInput [(ngModel)]="enseignant.email" name="{{'user.mailuser' | translate }}" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>{{'user.teluser' | translate }}</mat-label>
                <input matInput [(ngModel)]="enseignant.tel" name="{{'user.teluser' | translate }}"  >
              </mat-form-field>
              <br>


              <button type="submit"  class="btn btn-primary" style="float:right;" (click)="editEnseignant()" >{{'button.btnmodifier' | translate }}</button>
              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c()">{{'button.btnfermer' | translate }}</button>
            </form>
          </div>
        </div>

      </div>
    </ng-template>
  </div>

  <!-- delete-->
  <div class="col-md-12">
    <ng-template #contentdelete class="modal-dialog modal-sm">

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div >
            <h4 >{{'agent.des' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <form name="form" #f="ngForm">
          <button type="submit" (click)="deleteEnseignant()" class="btn btn-danger">{{'button.supprimer' | translate }}</button>
        </form>
        <button type="button" class="btn btn-light" (click)="c()">{{'button.btnfermer' | translate }}</button>
      </div>
    </ng-template>
  </div>


</div>
