

<div xmlns="http://www.w3.org/1999/html">
  <div class="card-default">
    <div class="mat-card-header">
      {{'user.ch'|translate}}</div>
    <div class="card-body">
          <form #f="ngForm" (ngSubmit)="f.form.valid && changepasse()">
            <div  *ngIf="x==true" >
              <alert type="danger" >
                <span>mot de passe non correcte</span>
              </alert>
            </div>
            <mat-form-field class="col-md-6">
              <mat-label>{{'user.new' | translate }}</mat-label>
              <input matInput  type="password" [(ngModel)]="newpassword" name="newpassword" #password="ngModel"
                     required minlength="6">
              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">{{'user.pass' | translate }}</div>
                <div *ngIf="password.errors.minlength">{{'user.passerror' | translate }}</div>
              </div>
            </mat-form-field>
            <br>
            <mat-form-field class="col-md-6">
              <mat-label>{{'user.c' | translate }}</mat-label>
              <input matInput  type="password" [(ngModel)]="confpassword" name="confpassword" #password1="ngModel"
                     required minlength="6">
              <div *ngIf="f.submitted && password1.invalid">
                <div *ngIf="password1.errors.required">{{'user.pass' | translate }}</div>
                <div *ngIf="password1.errors.minlength">{{'user.passerror' | translate }}</div>
              </div>
            </mat-form-field>

                  <br>
            <button type="submit"  class="btn btn-primary">{{'button.btnenr' | translate }}</button>

          </form>


        </div>

      </div>
    </div>


