

<!-- Page level plugin CSS-->
<div *ngIf="info.token; else loggedOut "xmlns="http://www.w3.org/1999/html">
  <div class="card-default">
    <div class="mat-card-header">
      <mat-icon>print</mat-icon>
      <span style="float: right" > <button (click)="openVerticallyCentered(content)"class=" btn btn-circle btn-lg btn-success"><i class="mdi mdi-plus"></i></button></span>
      {{'photocopieur.ph' | translate }}</div>
    <div class="card-body">
      <div class="">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'agent.filter' | translate }}">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="reference">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'photocopieur.ref' | translate }} </th>
              <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
            </ng-container>
            <ng-container matColumnDef="des">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'photocopieur.des' | translate }} </th>
              <td mat-cell *matCellDef="let row"> {{row.des}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="actions" >
              <th mat-header-cell *matHeaderCellDef >{{'agent.actions' | translate }}  </th>

              <td  mat-cell *matCellDef="let row">
                <mat-icon class=" supp" (click)="openVerticallydelete(contentdelete,row.id)"  aria-label="Delete">delete_forever </mat-icon>
                <mat-icon class=" edit" (click)="openVerticallyCenteredEdit(contentEdit,row.id)" >edit</mat-icon>
                <mat-icon class=" edit" (click)="openVertically(contentAff,row.id)" > local_printshop</mat-icon>
                <mat-icon class=" edit" (click)="openVerticallyinter(contentinter,row.id)" >build</mat-icon>

              </td>

            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>




        </div>

      </div>
    </div>
  </div>



  <!-- affichage Modal-->
  <div class="col-md-12">
    <ng-template #contentAff let-c="close" let-d="dismiss">

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <i class="fa fa-user-circle titre"></i>

            <h4 class="m-b-0 titre">{{'recharge.rechph' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body ">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSourceaff" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'recharge.daterech' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.dateAjout|date:"MMM dd yyyy H:m:s"}}  </td>
                </ng-container>
                <ng-container matColumnDef="photocopieur">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'recharge.an' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.ancre.des}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsaff"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsaff;">
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>




            </div>
          </div>
        </div>

      </div>

    </ng-template>
  </div>








  <!-- inter Modal-->
  <div class="col-md-12">
    <ng-template #contentinter let-c="close" let-d="dismiss">

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <i class="fa fa-user-circle titre"></i>

            <h4 class="m-b-0 titre">{{'intervention.interph' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body ">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSourceinter" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'recharge.daterech' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.dateAjout|date:"MMM dd yyyy H:m:s"}}  </td>
                </ng-container>
                <ng-container matColumnDef="intervention">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'intervention.inter' | translate }} </th>
                  <td mat-cell *matCellDef="let row"> {{row.nom_Societe}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsinter"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsinter;">
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>




            </div>
          </div>
        </div>

      </div>

    </ng-template>
  </div>




  <!-- add Modal-->
  <div class="col-md-12">
    <ng-template #content >

      <div class="modal-body">
        <div class="card card-outline-inverse no-pad-bot">
          <div class="card-header">
            <i class="fa fa-user-circle titre"></i>

            <h4 class="m-b-0 titre">{{'photocopieur.addph' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body no-pad-bot">
            <form #f="ngForm" (ngSubmit)="f.form.valid && addPhotocopieur()" >

              <mat-form-field>
                <mat-label>{{'photocopieur.ref' | translate }}</mat-label>
                <input matInput [(ngModel)]="photocopieur.reference" name="{{'photocopieur.ref' | translate }}" required >
              </mat-form-field>
              <br><mat-form-field>
              <mat-label>{{'photocopieur.des' | translate }}</mat-label>
              <input matInput [(ngModel)]="photocopieur.des" name="{{'photocopieur.des' | translate }}" required>
            </mat-form-field>
              <br>
              <button type="submit"  class="btn btn-primary" style="float:right;" [disabled]="f.form.pristine || f.form.invalid">{{'button.btnenr' | translate }}</button>
              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c()">{{'button.btnfermer' | translate }}</button>
            </form>
          </div>
        </div>

      </div>

    </ng-template>
  </div>

  <!-- Edit Modal-->
  <div class="col-md-12">
    <ng-template #contentEdit>

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <h4 class="m-b-0 titre">{{'photocopieur.modph' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form #f="ngForm" >

              <mat-form-field>
                <mat-label>{{'photocopieur.ref' | translate }}</mat-label>
                <input matInput [(ngModel)]="photocopieur.reference" name="{{'photocopieur.ref' | translate }}" required>
              </mat-form-field>
              <br><mat-form-field>
              <mat-label>{{'photocopieur.des' | translate }}</mat-label>
              <input matInput [(ngModel)]="photocopieur.des" name="{{'photocopieur.des' | translate }}" required>
            </mat-form-field>
              <br>
              <button type="submit"  class="btn btn-primary" style="float:right;" (click)="editPhotocopieur()" >{{'button.btnmodifier' | translate }}</button>
              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c()">{{'button.btnfermer' | translate }}</button>
            </form>
          </div>
        </div>

      </div>
    </ng-template>
  </div>

  <!-- delete-->
  <div class="col-md-12">
    <ng-template #contentdelete class="modal-dialog modal-sm">

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div >
            <h4> {{'agent.des' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <form name="form" #f="ngForm">
          <button type="submit" (click)="deletePhotocopieur()" class="btn btn-danger">{{'button.supprimer' | translate }}</button>
        </form>
        <button type="button" class="btn btn-light" (click)="c()">{{'button.btnfermer' | translate }}</button>
      </div>
    </ng-template>
  </div>


</div>
