

<!-- Page level plugin CSS-->
<div *ngIf="info.token; else loggedOut "xmlns="http://www.w3.org/1999/html">
  <div class="card-default">
    <div class="mat-card-header">
      <mat-icon>today</mat-icon>
      <span style="float: right" > <button ngbAutofocus (click)="openVerticallyCentered(content)"class=" btn btn-circle btn-lg btn-success"><i class="mdi mdi-plus"></i></button></span>
      {{'semestre.sem' | translate }}</div>
    <div class="card-body">
      <div class="">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder=" {{'agent.filter' | translate }}">
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="sem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'semestre.sem' | translate }} </th>
              <td mat-cell *matCellDef="let row"> {{row.semestre}} </td>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="actions" >
              <th mat-header-cell *matHeaderCellDef > {{'agent.actions' | translate }}  </th>

              <td  mat-cell *matCellDef="let row">
                <mat-icon class=" supp" (click)="openVerticallydelete(contentdelete,row.id)"  aria-label="Delete">
                  delete_forever </mat-icon>
                <mat-icon class=" edit" (click)="openVerticallyCenteredEdit(contentEdit,row.id)" >edit</mat-icon>
              </td>

            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>

      </div>
    </div>
  </div>













  <!-- add Modal-->
  <div class="col-md-12">
    <ng-template #content >

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <i class="fa fa-user-circle titre"></i>

            <h4 class="m-b-0 titre"> {{'semestre.addsem' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body ">
            <form #f="ngForm" (ngSubmit)="f.form.valid && addSemestre()" >

              <mat-form-field >
                <mat-label> {{'semestre.sem' | translate }}</mat-label>
                <input matInput [(ngModel)]="semstre.semestre" name=" {{'semestre.sem' | translate }}" required>
              </mat-form-field>
              <br>
              <button type="submit"  class="btn btn-primary" style="float:right;" [disabled]="f.form.pristine || f.form.invalid">{{'button.btnenr' | translate }}</button>
              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c()"> {{'button.btnfermer' | translate }}</button>
            </form>
          </div>
        </div>

      </div>

    </ng-template>
  </div>

  <!-- Edit Modal-->
  <div class="col-md-12">
    <ng-template #contentEdit >

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div class="card-header">
            <h4 class="m-b-0 titre"> {{'semestre.modsem' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="c()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <form #f="ngForm" >
              <mat-form-field >
                <mat-label> {{'semestre.sem' | translate }}</mat-label>
                <input matInput [(ngModel)]="semstre.semestre" name=" {{'semestre.sem' | translate }}" required>
              </mat-form-field>
              <br>
              <button type="submit"  class="btn btn-primary" style="float:right;" (click)="editSemestre()" > {{'button.btnmodifier' | translate }}</button>
              <button type="button" class="btn btn-light" style="float: right; margin-right: 20px;" (click)="c()"> {{'button.btnfermer' | translate }}</button>
            </form>
          </div>
        </div>

      </div>
    </ng-template>
  </div>

  <!-- delete-->
  <div class="col-md-12">
    <ng-template #contentdelete let-d="dismiss" class="modal-dialog modal-sm">

      <div class="modal-body">
        <div class="card card-outline-inverse">
          <div >
            <h4 > {{'agent.des' | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <form name="form" #f="ngForm">
          <button type="submit" (click)="deleteSemestre()" class="btn btn-danger"> {{'button.supprimer' | translate }}</button>
        </form>
        <button type="button" class="btn btn-light" (click)="c()"> {{'button.btnfermer' | translate }}</button>
      </div>
    </ng-template>
  </div>


</div>
