

<!-- Page level plugin CSS-->
<div xmlns="http://www.w3.org/1999/html">
  <div class="card-default">
    <div class="mat-card-header">
      <i class="mdi mdi-message-bulleted"></i>
      {{'agent.profil' | translate }}


    </div>

    <div class="card-body">
      <form name="form" (ngSubmit)="f.form.valid "  #f="ngForm" novalidate>
        <div *ngIf="f.submitted && f.valid"  >

        </div>
        <div class="row">
<div class="col-md-6">
        <div class="form-group">
          <label for="name">{{'user.nomuser' | translate }}</label>
          <input type="text" class="form-control" name="{{'user.nomnuser' | translate }}" [(ngModel)]="user.name" #name="ngModel" required />
          <div *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">{{'user.nom' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">{{'user.loginuser' | translate }}</label>
          <input type="text" class="form-control" name="{{'user.loginuser' | translate }}" [(ngModel)]="user.username" #username="ngModel"
                 required />
          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">{{'user.username' | translate }}</div>
          </div>
        </div>
</div>
        <div class="col-md-6">
        <div class="form-group">
          <label for="email">{{'user.mailuser' | translate }}</label>
          <input type="text" class="form-control" name="{{'user.mailuser' | translate }}" [(ngModel)]="user.email" #email="ngModel" required email />
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">{{'user.mail' | translate }}</div>
            <div *ngIf="email.errors.email">{{'user.mailerror' | translate }}</div>
          </div>
        </div>

        </div>
          <div *ngIf="currentFileUpload" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%</div>
          </div>

          <label class="btn btn-default">
            <input type="file"  (change)="selectFile($event)" >
          </label>

          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">{{'button.upload' | translate }}</button><br>



        </div>
        <button type="submit" (click)="update()" class="btn btn-primary"  [disabled]="f.form.pristine || f.form.invalid" >{{'button.btnenr' | translate }}</button>


                <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                  {{'user.failed' | translate }}<br/>{{errorMessage}}
        </div>

      </form>




    </div>
  </div>


</div>
